In [39]:
#Before running the code the Original csv file was converted to .xlsx(Excel) file:
#dfc = pd.read_csv('Original.csv') 
#dfe = pd.ExcelWriter('Names.xlsx') 
#dfc.to_excel(dfe, index = False) 
#dfe.save() 
import pandas as pd
df=pd.read_excel('Names.xlsx')

In [40]:
df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [41]:
def compareTo(self, that):
    return ((self > that) - (self < that))

In [42]:
df.drop(df[df['year']=='TV Movie 2019'].index, inplace = True)

In [64]:
df.drop(df[df['year'].astype(int) < 2000].index, inplace = True)
df.drop(df[df['duration'].astype(int)<=90].index, inplace=True)

array(['English, French', 'Japanese', 'English, German', ...,
       'English, Swiss German, German',
       'English, Polish, Russian, German', 'German, Dutch'], dtype=object)

In [54]:
df

,Unnamed: 0,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,...,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,combined_features
0,4334,tt0035423,Kate & Leopold,Kate & Leopold,2001,2002-03-01,"Comedy, Fantasy, Romance",118,USA,"English, French",...,An English Duke from 1876 is inadvertedly drag...,6.4,77852,$ 48000000,$ 47121859,$ 76019048,44.0,341.0,115.0,"Comedy, Fantasy, Romance USA James Mangold Meg..."
1,14127,tt0064730,Nihon boryoku-dan: Kumicho,Nihon boryoku-dan: Kumicho,2000,1969,"Action, Crime",97,Japan,Japanese,...,Coming out of jail and hoping for a quiet life...,7.0,168,NaN,NaN,NaN,NaN,3.0,5.0,"Action, Crime Japan Kinji Fukasaku Kôji Tsurut..."
2,15675,tt0069049,L'altra faccia del vento,The Other Side of the Wind,2018,2018-11-02,Drama,122,"France, Iran, USA","English, German",...,A Hollywood director emerges from semi-exile w...,6.8,5887,NaN,NaN,NaN,78.0,81.0,98.0,"Drama France, Iran, USA Orson Welles John Hust..."
3,21806,tt0088751,The Naked Monster,The Naked Monster,2005,2005-04-22,"Comedy, Horror, Sci-Fi",100,USA,English,...,"A brain-dead sheriff, a stolid secret agent an...",5.4,264,PYG 350000000,NaN,NaN,NaN,15.0,8.0,"Comedy, Horror, Sci-Fi USA Wayne Berwick, Ted ..."
4,24217,tt0096056,Delitto e castigo,Crime and Punishment,2002,2002-06-01,Drama,126,"Poland, Russia, USA","English, Polish",...,A modern day adaptation of Dostoyevsky's class...,5.8,633,NaN,NaN,NaN,NaN,13.0,NaN,"Drama Poland, Russia, USA Menahem Golan Crispi..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47131,85849,tt9906644,Manoharam,Manoharam,2019,2019-09-27,"Comedy, Drama",122,India,Malayalam,...,Manoharan is a poster artist struggling to fin...,6.8,491,NaN,NaN,NaN,NaN,9.0,1.0,"Comedy, Drama India Anvar Sadik Vineeth Sreeni..."
47132,85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,...,A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0,"Comedy France, Belgium Ludovic Colbeau-Justin ..."
47133,85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",...,A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0,"Comedy, Drama Netherlands Johan Nijenhuis Herm..."
47134,85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,...,NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN,"Drama India Vineesh Aaradya Anoop Chandran, In..."
47135,85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,...,NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN,"Drama, Family Turkey Ahmet Faik Akinci Ahmet F..."

In [56]:
df.to_csv('filtered1.csv')

NameError: name 'pd' is not defined

Index(['Unnamed: 0', 'Unnamed: 0.1', 'imdb_title_id', 'title',
       'original_title', 'year', 'date_published', 'genre', 'duration',
       'country', 'language', 'director', 'writer', 'production_company',
       'actors', 'description', 'avg_vote', 'votes', 'budget',
       'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics', 'combined_features'],
      dtype='object')

0    Combined features:Comedy, Fantasy, Romance USA...
1    Combined features:Action, Crime Japan Kinji Fu...
2    Combined features:Drama France, Iran, USA Orso...
3    Combined features:Comedy, Horror, Sci-Fi USA W...
4    Combined features:Drama Poland, Russia, USA Me...
Name: combined_features, dtype: object

MemoryError: Unable to allocate 5.13 GiB for an array with shape (688913428,) and data type float64